/* Customs */
.popup-menu .popup-menu-content,
.datemenu-popover,
.quick-settings {
  border-radius: 12px !important;
}

.input-source-switcher-symbol {
  width: 108px !important;
  height: 108px !important;
}

/* Fix Orchis Theme */
.calendar-month-label {
  height: 1.5em !important;
  margin: 0.125em !important;
  padding: 0.5em 1em !important;
  border-radius: 0.625em !important;
}

.calendar-day-heading {
  width: 2em !important;
  height: 2em !important;
  margin-top: 0.2em !important;
  padding: 0 !important;
}

.search-entry {
  min-height: 1.5em !important;
  padding: 0.4em 0.6em !important;
  margin: 0.25em 0.4em 0.25em !important;
}
